 
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Goldman", cursive;
  font-weight: bold;
  color: whitesmoke;
}

section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #0e0e0f;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url("/FIRST_YEAR_TCR_EXERCISE/img/hacker.png");
  }

html {
  font-size: 62.5%;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.text{
  font-size: 24px;
  font-family: "Goldman", cursive;
  font-weight: bold;
  list-style-type: circle;
  color: whitesmoke;
}

.text2{
  font-size: 24px;
  font-family: "Goldman", cursive;
  font-weight: bold;
  color: whitesmoke;
}

.footer{
  background-color: #00a8c7;
  padding: 25px;
}